<section class="components block" id="components">
  <div class="wrapper">
    <h2 class="title components__title">
      В основе Клеанола — натуральные экстракты и концентраты
    </h2>
    <h4 class="ttl">Спрей для мебели</h4>
    <div class="components__list components__list--top">
      <div class="item">
        <img src="img/component-1.png" alt="component" class="item__photo" />
        <p class="item__text">Экстракт Эрвы</p>
      </div>
      <div class="item">
        <img src="img/component-2.png" alt="component" class="item__photo" />
        <p class="item__text">Сок Алоэ</p>
      </div>
      <div class="item">
        <img src="img/component-3.png" alt="component" class="item__photo" />
        <p class="item__text">Масло гвоздики</p>
      </div>
      <div class="item">
        <img src="img/component-4.png" alt="component" class="item__photo" />
        <p class="item__text">Экстракт мускатного ореха</p>
      </div>
    </div>
    <h4 class="ttl">Спрей для тела</h4>
    <div class="components__list components__list--bottom">
      <div class="item">
        <img src="img/component-5.png" alt="component" class="item__photo" />
        <p class="item__text">Экстракт можжевельника</p>
      </div>
      <div class="item">
        <img src="img/component-6.png" alt="component" class="item__photo" />
        <p class="item__text">Экстракт шелковицы</p>
      </div>
      <div class="item">
        <img src="img/component-7.png" alt="component" class="item__photo" />
        <p class="item__text">Концентрат прополиса</p>
      </div>
      <div class="item">
        <img src="img/component-8.png" alt="component" class="item__photo" />
        <p class="item__text">Концентрат кордицепса</p>
      </div>
    </div>
    <div class="components__doctor">
      <img src="img/doctor.png" alt="doctor" class="doctor" />
      <div class="content">
        <p class="content__name">Елена Воробьева</p>
        <p class="content__post">
          врач-технолог на производстве препарата Cleanol
        </p>
        <p class="content__text">
          При разработке <span class="color">Клеанола</span> мы нашли уникальное
          сочетание растительных компонентов. Благодаря этому препарат не только
          эффективен, но и&nbsp;абсолютно безопасен даже для новорожденных
          детей.
        </p>
      </div>
    </div>
  </div>
</section>
