<section class="footer block">
  <div class="wrapper">
    <div class="footer__block">
      <div class="footer__block__left">
        <img src="img/everad.svg" alt="everad" class="logo" />
        <p>
          Cleanol<br />
          Copyright&nbsp;
          <script>
            var now = new Date();
            var month = now.getMonth();
            var year = now.getFullYear();
            document.write(year);
          </script>
        </p>
      </div>
      <div class="footer__block__center">
        <a href="privacy.html" target="_blank">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</section>
