<section class="how block">
   <div class="wrapper">
      <h2 class="title how__title">
         Биокомплекс Клеанол - комплексная защита
         вашей семьи от пылевых клещей
      </h2>
      <div class="how__content">
         <h4 class="how__ttl">Для мебели</h4>
         <div class="how__prod how__prod--1">
            <img src="img/prod-1.png" alt="product" class="img">
            <ul class="list">
               <li class="list__item"><span class="font-bold">Распылите на</span> натуральные <span class="font-bold">поверхности</span></li>
               <li class="list__item">Легко <span class="font-bold">вотрите</span><br>спрей</li>
               <li class="list__item"><span class="font-bold">Повторяйте</span> в течение<br>14 дней</li>
            </ul>
         </div>
         <h4 class="how__ttl">Для кожи</h4>
         <div class="how__prod how__prod--2">
            <img src="img/prod-2.png" alt="product" class="img">
            <ul class="list">
               <li class="list__item"><span class="font-bold">Нанесите на тело</span> перед сном</li>
               <li class="list__item"><span class="font-bold">Вотрите</span> легкими движениями</li>
               <li class="list__item"><span class="font-bold">Применяйте</span> в течение<br>14 дней</li>
            </ul>
         </div>
      </div>
      <p class="how__result">Всего за 2 недели здоровье всей<br>семьи будет под защитой!</p>
      <div class="center">
         <button class="btn">
            Заказать Cleanol
         </button>
      </div>
   </div>
</section>