<section class="problem block">
   <div class="wrapper">
      <h2 class="title problem__title">Пылевые клещи вызывают проблемы со здоровьем</h2>
      <div class="problem__slider">
         <div class="slide">
            <img src="img/problem-1.jpg" alt="img" class="slide__img">
            <h4 class="slide__ttl">Проблемы с дыханием</h4>
            <p class="slide__text">Ребенок вдыхает пылевых клещей<br>и их фекалии, которые<br>раздражают стенки лёгких</p>
         </div>
         <div class="slide">
            <img src="img/problem-2.jpg" alt="img" class="slide__img">
            <h4 class="slide__ttl">Развитие аллергий</h4>
            <p class="slide__text">Возникает сыпь из-за непереносимости<br>у ребенка пылевого клеща, как аллергена</p>
         </div>
         <div class="slide">
            <img src="img/problem-3.jpg" alt="img" class="slide__img">
            <h4 class="slide__ttl">Ослабление иммунитета</h4>
            <p class="slide__text">Организму ребёнка приходится<br>постоянно бороться с пылевыми<br>клещами и он
               ослабляется</p>
         </div>
      </div>
      <p class="problem__result">Вывод - если с пылевыми клещами не бороться, здоровье ребёнка в доме всегда будет под
         угрозой!</p>
   </div>
</section>