<section class="reviews block" id="reviews">
  <div class="wrapper">
    <h2 class="title reviews__title">Отзывы</h2>
    <div class="reviews__slider">
      <div class="slide">
        <img src="img/slide-1.png" alt="photo" class="slide__photo" />
        <span class="slide__name">Оксана, 38 лет</span>
        <p class="slide__text">
          Мы в семье долго не могли понять, что у нас в доме, оказывается, нужно
          проводить срочную дезинфекцию пылевых клещей.<br />Да и кто бы тут мог
          такое подумать. Пыль я&nbsp;вытираю три раза в неделю, пылесосим
          и&nbsp;моем полы - два. А что поделать, убирать нужно часто, нас в
          семье много - я, муж и трое детей. Однако, наш младшенький начал
          подозрительно часто болеть, и на ручках у&nbsp;него сыпь образовалась.
          Хорошо, что&nbsp;попался хороший педиатр, и понял, в чем дело.
          Посоветовал препарат Клеанол,&nbsp;чтобы вывести клещей. И знаете,
          это&nbsp;подействовало. Младший больше не&nbsp;болеет, и сыпь прошла.
        </p>
      </div>
      <div class="slide">
        <img src="img/slide-2.png" alt="photo" class="slide__photo" />
        <span class="slide__name">Саша, 36 лет</span>
        <p class="slide__text">
          Я сначала не верил, что дело в пылевых клещах, думал, что жена чего-то
          придумывает. Но я не стал рисковать здоровьем 4-хлетнего сына, у
          которого началась какая-то аллергия, поэтому согласился попробовать
          избавиться от этих клещей. Подобрал самое безопасное средство, какое
          только смог найти в&nbsp;интернете - Клеанол. Это такие таблетки,
          которые добавляешь в брызгалку с водой. Раствором для дома
          пропользовались 2&nbsp;недели, раствором для тела чуть дольше решили
          на всякий случай. Аллергия у малого прошла, значит дело действительно
          в этих клещах была.
        </p>
      </div>
      <div class="slide">
        <img src="img/slide-3.png" alt="photo" class="slide__photo" />
        <span class="slide__name">Марина, 40 лет</span>
        <p class="slide__text">
          Когда я начала замечать, что дочь по ночам сопит и кашляет - то я
          сначала подумала, что&nbsp;дело в сухом воздухе. Как раз была зима,
          комнаты мы не проветривали, воздух пересушивался из-за обогревателя,
          поэтому мы просто купили увлажнитель. Но кашель у&nbsp;дочки не
          проходил. Пошли к врачу, тот&nbsp;назначил какие-то леденцы от кашля
          и&nbsp;сироп, ерунду, в общем. Почитали в&nbsp;интернете, что причина
          может быть в пыли, а точнее пылевых клещах, которые в ней живут.
          Попробовали всё это очистить при&nbsp;помощи Клеанола - и,
          действительно, помогло. У дочки прошел кашель, спит теперь нормально.
        </p>
      </div>
    </div>
  </div>
</section>
