.problem
	sbackground: #eaf2f7
	&__title
		text-align: center
		margin-bottom: 20px
	&__slider
		margin-bottom: 20px
	.slide
		text-align: center
		&__img
			max-width: 100%
			margin: auto
			width: 200px
			margin-bottom: 10px
			border-radius: 5px
		&__ttl
			font-weight: 500
			margin-bottom: 3px
			font-size: 18px
		&__text
			color: #444
			line-height: 24px
	&__result
		text-align: center
		font-weight: 500
		line-height: 20px
		font-size: 18px